In [ ]:
import pandas as pd

df = pd.read_csv('oec_all_data_combined.csv')

df.head()

,Exporter Country ID,Exporter Country,Year,Trade Value,HS6,Cube
0,afago,Angola,2018,334.0,16850610,trade_i_baci_a_96
1,afben,Benin,2018,454553.0,16850610,trade_i_baci_a_96
2,afbfa,Burkina Faso,2018,630.0,16850610,trade_i_baci_a_96
3,afbwa,Botswana,2018,6212.0,16850610,trade_i_baci_a_96
4,afcaf,Central African Republic,2018,8726.0,16850610,trade_i_baci_a_96

In [ ]:
# Vyberu pouze řádky, kde je Exporter Country 'Czechia'
df_czechia = df[df['Exporter Country'] == 'Czechia']

# Ukázka několika řádků
df_czechia.head()

,Exporter Country ID,Exporter Country,Year,Trade Value,HS6,Cube
88,eucze,Czechia,2018,15794276.0,16850610,trade_i_baci_a_96
244,eucze,Czechia,2019,14717706.0,16850610,trade_i_baci_a_96
387,eucze,Czechia,2020,12712957.0,16850610,trade_i_baci_a_96
535,eucze,Czechia,2021,13593794.0,16850610,trade_i_baci_a_96
682,eucze,Czechia,2022,16707604.0,16850610,trade_i_baci_a_96

In [3]:
df_czechia.to_csv('oec_data_czechia.csv', index=False)

In [4]:
# Sumární exportní hodnoty baterií za rok 2018 a 2023
export_2018 = df_czechia[df_czechia['Year'] == 2018]['Trade Value'].sum()
export_2023 = df_czechia[df_czechia['Year'] == 2023]['Trade Value'].sum()

print(f"Sumární export baterií za rok 2018: {export_2018:,.0f} USD")
print(f"Sumární export baterií za rok 2023: {export_2023:,.0f} USD")

Sumární export baterií za rok 2018: 906,291,650 USD
Sumární export baterií za rok 2023: 6,206,008,984 USD

In [5]:
growth = ((export_2023 - export_2018) / export_2018) * 100
print(f"Růst českého vývozu baterií mezi roky 2018 a 2023: {growth:.2f}%")

Růst českého vývozu baterií mezi roky 2018 a 2023: 584.77%

In [6]:

# Hodnota celkového exportu ČR v roce 2023 v USD
total_export_usd = 193150000000  # přibližně 193,15 miliard USD

# Hodnota baterií z předchozí analýzy (příklad, nahraď reálnou hodnotou)
export_2023 =  6206008984  
percent_batteries = (export_2023 / total_export_usd) * 100
print(f"Procento baterií z celkového českého exportu v roce 2023: {percent_batteries:.2f}%")

Procento baterií z celkového českého exportu v roce 2023: 3.21%

In [7]:
df = pd.read_csv('export.csv')

df.head()

                  Ukazatel  Území  Roky       Hodnota
0   Vývoz (v mil. Kč, FOB)  Česko  2024  4.663189e+06
1   Dovoz (v mil. Kč, CIF)  Česko  2024  4.442700e+06
2      Bilance (v mil. Kč)  Česko  2024  2.204889e+05
3  Vývoz (meziroční index)  Česko  2024  1.049690e+02
4  Dovoz (meziroční index)  Česko  2024  1.028417e+02

In [10]:
df_filtered = df[df['Ukazatel'] == 'Vývoz (meziroční index)']

# Zobraz prvních pár vyfiltrovaných řádků
df_filtered.head()

                   Ukazatel  Území  Roky     Hodnota
3   Vývoz (meziroční index)  Česko  2024  104.969020
8   Vývoz (meziroční index)  Česko  2023  100.796945
13  Vývoz (meziroční index)  Česko  2022  113.550171
18  Vývoz (meziroční index)  Česko  2021  113.140723
23  Vývoz (meziroční index)  Česko  2020   92.925292

In [ ]:
df_filtered['Meziroční růst (%)'] = df_filtered['Hodnota'] - 100

print(df_filtered)

In [32]:
df_filtered.to_csv('export_tabulka.csv', index=False)

Prognoza růstu bateriového vývozu

In [40]:
import pandas as pd

# Vstupní data
bateriovy_export_2023 = 6206008984        # USD
celkovy_export_2023 = 193150000000        # USD
rusty_baterii_cr = rusty_baterii_cr = [0.49, 0.35, 0.20, 0.15, 0.10, 0.08, 0.05]  # postupně klesající růst baterií v ČR
rust_celkovy_exportu_cr = 0.0585          # Celkový růst exportu ČR (stálý)
roky = 7

# Inicializace hodnot do seznamu pro každý rok
baterie = [bateriovy_export_2023]
celkem = [celkovy_export_2023]
podily = [bateriovy_export_2023 / celkovy_export_2023]
let = [2023]

# Výpočty pro každý rok
for i in range(roky):
    baterie_nova = baterie[-1] * (1 + rusty_baterii_cr[i])
    celkem_nova = celkem[-1] * (1 + rust_celkovy_exportu_cr)
    baterie.append(baterie_nova)
    celkem.append(celkem_nova)
    podily.append(baterie_nova / celkem_nova)
    let.append(2023 + i + 1)

# Výsledky do DataFrame
vysledky = pd.DataFrame({
    'Rok': let,
    'Export_baterie': baterie,
    'Export_celkem': celkem,
    'Podil_baterii': podily
})

# Výpis tabulky
print(vysledky)

    Rok  Export_baterie  Export_celkem  Podil_baterii
0  2023    6.206009e+09   1.931500e+11       0.032131
1  2024    9.246953e+09   2.044493e+11       0.045229
2  2025    1.248339e+10   2.164096e+11       0.057684
3  2026    1.498006e+10   2.290695e+11       0.065395
4  2027    1.722707e+10   2.424701e+11       0.071048
5  2028    1.894978e+10   2.566546e+11       0.073834
6  2029    2.046576e+10   2.716689e+11       0.075333
7  2030    2.148905e+10   2.875615e+11       0.074729